.main-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1);
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#282828;
}

.card {
    text-align: center;
    margin: 1.5em;
    border: 2px solid white;
}

.card>img {
    width: 200px;
}

.left-bar,
.right-bar {
    background-color:#212121;
    color:white;
}

.left-bar p,
.right-bar p {
    margin: 1em;
    border: 2px solid;
    padding: 1em;
}



/* адаптивность под планшеты/телефоны */

@media (max-width: 1100px) {
    .main-container {
        grid-template-rows: repeat(3);
    }


    .left-bar {
        grid-column: 1/13;
        grid-row:1/2;
    }

    .container {
        grid-column: 1/13;
        grid-row:2/3;
    }
    
    .right-bar {
        grid-column: 1/13;
        grid-row:3/4;
    }
}

@media (max-width:800px) {
    .main-container {
            grid-template-rows: repeat(3);
    }

    .left-bar {
        grid-column: 1/13;
        grid-row:1/2;
    }

    .container {
        grid-column: 1/13;
        grid-row:2/3;
        grid-template-columns: repeat(2,1fr);
    }
    
    .right-bar {
        grid-column: 1/13;
        grid-row:3/4;
    }
}